/.vscode

/target

# ignoring any non .blz file in subdirectories
/examples/**
!/examples/*.blz

!/examples/fizzbuzz
!/examples/fizzbuzz/*.blz

!/examples/project_euler
!/examples/project_euler/*
!/examples/project_euler/*/*.blz

/asm
Makefile
